//- This is the extends head

-
  info.__Phone = "(505)399-9193"
  info.__Fax = "(505)672-7081"
  info.__Address = "120 Madeira NE"
  info.__City = "Albuquerque"
  info.__State = "New Mexico"
  info.__Zip = "87108"

doctype html
html(lang='en')
  head
    //- if info.title is set use it else use the indo.desc as the title
    if info.title
      title= info.title
    else
      title= info.desc

    // This is so the tracker.php etc will work
    base(href="https://www.allnaturalcleaningcompany.com")

    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="copyright" content=info.copyright)
    meta(name="Author" content=info.author)
    meta(name="description" content=info.desc)
    meta(name="keywords" content=info.keywords)

    // Google Fonts 
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine")

    link(rel="shortcut icon" href="https://bartonphillips.net/images/favicon.ico")
    link(rel="stylesheet" href="/csstest-" + info['LAST_ID'] + ".css")
    link(rel="stylesheet" href="https://bartonphillips.net/css/allnatural/allnatural.css")
      
    //- Extra link things can go here
    block link

    // jQuery and Javascripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script var lastId = #{info['LAST_ID']};
    script(src="https://bartonphillips.net/js/tracker.js")

    //- Extra scripts go here
    block script

    style.
      .social {
        text-align: center;
        margin-bottom: 1em;
      }
      .icon-button {
        font-size: 1.5em;
      }

    //- Extra styles go here
    block style

  //- always the same header
  body
    header#header
      img(src="https://bartonphillips.net/images/allnatural/BubbleLogo.png" alt="bubble-logo")
      img#logo(src="https://bartonphillips.net/images/blank.png" alt="blank image")
      img#dummyimg(src="/tracker.php?page=normal&id=" + info['LAST_ID'], alt="blank image")
      div
        | &nbsp;All Natural Cleaning Company 
        span.phone Call Us Today: #{info.__Phone}

        // Nav bar for large screens
        ul
          li
            a(href="/index") Home
          li
            a(href="/residential") Residential
          li
            a(href="/commercial") Commercial
          li
            a(href="/about") About Us
          li
            a(href="https://allnaturalcleaningcompany.blogspot.com") Blog
          li 
            a(href="/contact") Contact

        // Nav bar for small screens
        #smallnavbar
          label.xicon-menu(for="smallmenu") Menu
          input#smallmenu(type="checkbox" role="button")

          ul#smenu
            li
              a(href="/index") Home
            li
              a(href="/residential") Residential
            li
              a(href="/commercial") Commercial
            li
              a(href="/about") About
            li
              a(href="https://allnaturalcleaningcompany.blogspot.com") Blog
            li
              a(href="/contact") Contact

      noscript#noscript
        style.
          html {
            display:block;
          }

        p
          img(src="/tracker.php?page=noscript&id=" + info['LAST_ID'], alt="noscript image")
        | Your browser either does not support <b>JavaScripts</b> or you have JavaScripts disabled, in either case your browsing
        | experience will be significantly impaired. If your browser supports JavaScripts but you have it disabled consider enabaling
        | JavaScripts conditionally if your browser supports that. Sorry for the inconvienence.</p>

    //- Main content goes here
    block content
    
  //- always the same footer
  hr

  // This div has the 'twitter', 'facebook' and 'g+' icons and links. It uses "FontAwesome" from the "https://bartonphillips.net/css/allnatural/social/font/" directory. FontAwesome has gliphs for the social media companies.

  div.social
    a.icon-button.twitter(href="http://twitter.com")
      i.icon-twitter
      span
    a.icon-button.facebook(href="https://www.facebook.com/allnaturalcleaningcompany/")
      i.icon-facebook
      span
    a.icon-button.google-plus(href="http://plus.google.com")
      i.icon-google-plus
      span

  // Normal footer

  footer
    address Copyright &copy; #{info.copyright}
      br
      | Last Modified: #{lastmod}

